---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Results" id="showcase">
  <Fragment slot="lead">
    All you need to do is <span class="text-primary">drag & drop</span>.{" "}
    <span class="text-primary">Explore</span> the data with this{" "}
    <span class="text-primary">Pivot Table</span>{" "} courtousy of PivotTable.JS.
  </Fragment>
  <style>
  #RoundCorners
    {
       border-radius: 15px;
       moz-border-radius: 15px;
       background-color: #333;
    }
  </style>
  <div id="RoundCorners">
  <div class="max-w-6xl space-y-2">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.css" integrity="sha512-BDStKWno6Ga+5cOFT9BUnl9erQFzfj+Qmr5MDnuGqTQ/QYDO1LPdonnF6V6lBO6JI13wg29/XmPsufxmCJ8TvQ==" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.js" integrity="sha512-XgJh9jgd6gAHu9PcRBBAp0Hda8Tg87zi09Q2639t0tQpFFQhGpeCgaiEFji36Ozijjx9agZxB0w53edOFGCQ0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/gchart_renderers.min.js" integrity="sha512-vaxYskjGjzYDOchWwEL61xmKVPTn87M1r5LFZAcdUOz6jbliLLa5fDX0M8g0YrGNJ7NEdFDbJ4ebT5Ou/4SBIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            body {font-family: Verdana;}
        </style>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript">
    $(function(){
        $("#output").pivotUI(
          // $ [replacemeorfailtobuild]
          [{"test": "2to3", "runtime": "3.10.0", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0"}, {"test": "chameleon", "runtime": "3.10.0", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0"}, {"test": "html5lib", "runtime": "3.10.0", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0"}, {"test": "tornado_http", "runtime": "3.10.0", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0"}, {"test": "2to3", "runtime": "3.10.0a1", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0a1"}, {"test": "chameleon", "runtime": "3.10.0a1", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0a1"}, {"test": "html5lib", "runtime": "3.10.0a1", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0a1"}, {"test": "tornado_http", "runtime": "3.10.0a1", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0a1"}, {"test": "2to3", "runtime": "3.10.0a2", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0a2"}, {"test": "chameleon", "runtime": "3.10.0a2", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0a2"}, {"test": "html5lib", "runtime": "3.10.0a2", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0a2"}, {"test": "tornado_http", "runtime": "3.10.0a2", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0a2"}, {"test": "2to3", "runtime": "3.10.0a3", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0a3"}, {"test": "chameleon", "runtime": "3.10.0a3", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0a3"}, {"test": "html5lib", "runtime": "3.10.0a3", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0a3"}, {"test": "tornado_http", "runtime": "3.10.0a3", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0a3"}, {"test": "2to3", "runtime": "3.10.0a4", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0a4"}, {"test": "chameleon", "runtime": "3.10.0a4", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0a4"}, {"test": "html5lib", "runtime": "3.10.0a4", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0a4"}, {"test": "tornado_http", "runtime": "3.10.0a4", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0a4"}, {"test": "2to3", "runtime": "3.10.0a5", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0a5"}, {"test": "chameleon", "runtime": "3.10.0a5", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0a5"}, {"test": "html5lib", "runtime": "3.10.0a5", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0a5"}, {"test": "tornado_http", "runtime": "3.10.0a5", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0a5"}, {"test": "2to3", "runtime": "3.10.0a6", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0a6"}, {"test": "chameleon", "runtime": "3.10.0a6", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0a6"}, {"test": "html5lib", "runtime": "3.10.0a6", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0a6"}, {"test": "tornado_http", "runtime": "3.10.0a6", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0a6"}, {"test": "2to3", "runtime": "3.10.0a7", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0a7"}, {"test": "chameleon", "runtime": "3.10.0a7", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0a7"}, {"test": "html5lib", "runtime": "3.10.0a7", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0a7"}, {"test": "tornado_http", "runtime": "3.10.0a7", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0a7"}, {"test": "2to3", "runtime": "3.10.0b1", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0b1"}, {"test": "chameleon", "runtime": "3.10.0b1", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0b1"}, {"test": "html5lib", "runtime": "3.10.0b1", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0b1"}, {"test": "tornado_http", "runtime": "3.10.0b1", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0b1"}, {"test": "2to3", "runtime": "3.10.0b2", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0b2"}, {"test": "chameleon", "runtime": "3.10.0b2", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0b2"}, {"test": "html5lib", "runtime": "3.10.0b2", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0b2"}, {"test": "tornado_http", "runtime": "3.10.0b2", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0b2"}, {"test": "2to3", "runtime": "3.10.0b3", "stdev": 0.15270924761171686, "mean": 0.41422179504997986, "median": 0.3644250830011515, "python_ver": "3.10.0b3"}, {"test": "chameleon", "runtime": "3.10.0b3", "stdev": 0.00020937748243636254, "mean": 0.008030602946865884, "median": 0.007957157124963032, "python_ver": "3.10.0b3"}, {"test": "html5lib", "runtime": "3.10.0b3", "stdev": 0.00644261367426825, "mean": 0.08115511252499345, "median": 0.08019168474993421, "python_ver": "3.10.0b3"}, {"test": "tornado_http", "runtime": "3.10.0b3", "stdev": 0.06981717091415084, "mean": 0.19639290724990133, "median": 0.16413097450094938, "python_ver": "3.10.0b3"}]
            // [
            //     {color: "blue", shape: "circle"},
            //     {color: "red", shape: "triangle"}
            // ],
            // {
            //     rows: ["color"],
            //     cols: ["shape"]
            // }
        );
     });
        </script>
        <div id="output" style="margin: 30px;"></div>
  </div>
</div>
</ContentSection>
